<h2>Task 3:&nbsp;Implementation of a Query Function over a Document Collection (30 Points)</h2>
<p>Write a perform_query()&nbsp;function in Python that calculates the similarity between a query and a document vector on the basis of the Vector Space Model. The perform_query()&nbsp;function should rank the documents contained in a given document collection according to their score that is to be computed on the basis of the vector space model and the cosine similarity w.r.t. a previously issued query.</p>
<p>For the implementation of this task, you can make use of the result/output produced by the&nbsp;calculate_tfidf()&nbsp;function as well as of the cosine similarity calculation algorithm implemented in Task 2.</p>
<h3>Tasks:</h3>
<ul>
<li>Implement a perform_query()&nbsp;function that calculates the cosine similarity from a vector of vocabulary terms, a set of term frequency vectors, and a given query vector, where</li>
<ul><li>the first parameter is the Pandas data frame, related to&nbsp;<b>tf value vectors</b></li>
<li>the second parameter is a string containing the terms that constitute the issued query</li>
</ul>
<li>The function should return the calculated cosine similarity values in form of a ranked document list ordered by their relevance together with the query vector and the calculated tf values of the query terms with respect to the document collection against which it was issued.</li></ul>
<ul>
<li>
<p>The signature of the perform_query() function expects two parameters. An exemplary invocation of the function is given below:</p>
</li>
</ul>

In [2]:
%run Implementation.ipynb

table_tfidf = calculate_tfidf('../collection1.txt')
perform_query(table_tfidf, 'we pass the test')

  document number  query document similarity
0               4                   0.771517
0               1                   0.745356
0               3                   0.654654
0               2                   0.640513
0               5                   0.522233

#### A possible output schema

<table align="left" border=\1\ class=\dataframe\>
         <thead>
           <tr style=\text-align: center;\>
             <th>document number</th>
             <th>query document similarity</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>3</td>
             <td>0.4321</td>
           </tr>
                        <tr>
             <td>2</td>
             <td>0.3214</td>
           </tr>
                        <tr>
             <td>1</td>
             <td>0.2143</td>
           </tr>
                        <tr>
             <td>5</td>
             <td>0.1432</td>
           </tr>
                        <tr>
             <td>4</td>
             <td>0.1324</td>
           </tr>
         </tbody>
       </table>

<li>Test your implementation with a number of different queries and document collections (you can simply extend or modify the document collection&nbsp;collection1.txt)</li><li>Calculate the score based on the smart notation "nnc.nnc"</li>
</ul>

In [5]:
table_tfidf2 = calculate_tfidf('../collectionMine.txt')
perform_query(table_tfidf2, 'we pass the document')

  document number  query document similarity
0               8                   0.522233
0               5                   0.480384
0               7                   0.462910
0               6                   0.436436
0               4                   0.298142
0               3                   0.288675
0               1                   0.258199
0               2                   0.258199

### Further Questions:
#### 1. Think about the relationship between information need and query -- what is a query?
...
#### 2. Critically think about the differences between the Boolean retrieval model and a ranked retrieval model building upon e.g. the vector space model.
...
#### 3. Analyze the behavior of the query function using the document collection collection2.txt
##### 3.1 Explain why a query for the term "a" produces the given result
...
##### 3.2 Why receives Doc1 a higher rank than Doc3 when the term "b" is queried
...
##### 3.3 Why is the rank of Doc3 lower than the rank of Doc2 when a query for the term "c" is issued?
...
##### 3.4 Why receives Doc2 a higher rank than Doc4 when the query contains the terms "b c"?
...
##### 3.5 Consider the query "a b c d" -- which document receives the highest rank and why?
...
#### 4. Critically think about what do these numbers represent and how do they express similarity?
...